{% extends "layout.html" %}

{% block main %}

<div class="container mt-5">
  {% if warnings %}
    <!-- Alert box for warnings -->
    <div id="alert-box" class="alert alert-warning alert-dismissible fade show" role="alert">
      {{ warnings }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <script>
      // Ensure the alert box is visible after the page is rendered
      document.getElementById("alert-box").style.display = "block";
    </script>
  {% endif %}

  <!-- Heading -->
  <h1 class="mb-4 text-center">Upload CSV File</h1>

  <!-- Form for uploading CSV -->
  <form action="/upload" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
    <div class="mb-3">
      <label for="csv_file" class="form-label">Choose a CSV file</label>
      <input type="file" id="csv_file" name="csv_file" accept=".csv" class="form-control" required>
      <div class="invalid-feedback">
          Please select a valid CSV file.
      </div>
    </div>

    <!-- Dropdown for selecting options -->
    <div class="mb-3">
      <label for="options" class="form-label">Select an option</label>
      <select id="options" name="options" class="form-select" required>
        <option value="" disabled selected>Select an option</option>
        <option value="Absolute">Absolute Grading</option>
        <option value="Relative">Relative Grading</option>
      </select>
      <div class="invalid-feedback">
          Please select an option.
      </div>
    </div>

    <div class="mb-3">
      <select id="type" name="type" class="form-select" required>
        <option value="" disabled selected>Select an option</option>
        <option value="custom">Custom Grading</option>
        <option value="fixed">Fixed Grading</option>
      </select>
      <div class="invalid-feedback">
          Please select an option.
      </div>
    </div>

    <div class="mb-3">
      <label for="scaling" class="form-label">Scaling Factor</label>
      <input type="number" id="scaling" name="scaling" class="form-control" min="0" step="any" placeholder="Enter a positive number" value="0" required>
      <div class="invalid-feedback">
          Please enter a valid positive number.
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary">Upload</button>
    </div>
  </form>
</div>

{% endblock %}
